header {
    border-bottom: $borde;
    font-family: $font;
    background-image: url(../assets/img/fondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    h1 {
        text-align: center;
        font-size: 3em;
    }
        nav {
            ul { display: flex;
                justify-content: space-between;
                flex-direction: row;
                li {
                    list-style: none;
                    font-size: 1.5em;
                    cursor: pointer;
                    font-weight: bolder;
                }
            }
        }
    }
